* {
  box-sizing: border-box;
}

header {
  position: relative;
  border: 1px solid black;
  margin:30px;
  padding: 5px;
  overflow: hidden;
}

.logoWithTitle{
  display:inline-block;
}

h1{
  font-size: 2em;
  display:inline-block;
}

.logoPic{
  display:inline-block;
}

nav{
  display: inline-block;
  float: right;
}

nav>ul{
  display:inline-block;
}

nav>ul>li{
  display: inline-block;
}

main {
  position: relative;
  border: 1px solid red;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#results-container {
  width: 30%;
  background-color: rebeccapurple;
  display: inline-block;
  float: left;

}

#user-interface {
  text-align: center;
  position: relative;
  float: left;
  display: inline-block;
}

img{
  width: 300px;
  height: 200px;
}

#images-container {
  background-color: pink;
  height: 400px;
  border: 1px solid black;
  width:1024px;
  position: relative;
}

.imageBox1 {
  float: left;
  display: inline-block;
}

.imageBox2 {
  float: left;
  display: inline-block;
}

.imageBox3 {
  float: left;
  display: inline-block;

}

#image1{
  float:left;
}
#image2{
  float:left;
}
#image3{
  float:left;
}

#vote-button {
  background-color: green;
  height: 30px;
  display: block;
}

#instructions {
  background-color: orange;
  display: block;
}

.image-display {
  height: 200px;
  display: inline-block;
  margin: 10px;
}

footer {
  position: relative;
  border: 1px solid blue;
  margin: 30px;
  text-align: center;
}




